requests==2.32.4
beautifulsoup4==4.13.4
fake-useragent==1.5.1
pandas==2.3.1
nltk==3.9.1
vaderSentiment==3.3.2
langid==1.1.6
pycountry==22.3.5
psycopg2-binary==2.9.9
python-dotenv==1.0.1
streamlit==1.46.1
matplotlib==3.10.3
seaborn==0.13.2
wordcloud==1.9.4
